@font-face{
	font-family: "Valencia";
	src: url("De Valencia (beta).otf");
}

h1{
	margin-top: 5%;
	margin-left: 6%;
	margin-right: 18.6em;
	font-family: "Valencia";
	font-size: 300%;
	color: #211D1D;
	border-bottom: 2px #7D7D7D solid;
}

.ppp{
	background-color: #E5E8E8;
}

label, input{
	font-family: "Consolas";
	font-size: 0.95em;
	color: #211D1D;
}

form{
	border: 2px #7D7D7D solid;
	margin-top: 3em;
	width: 36.5%;
	margin-left: 7%;
	margin-bottom: 4em;
	padding: 2em;
}

#retour{
	width: 10%;
	margin: auto;
}

#bouton_retour{
	width: 100%;
	margin: auto;
}

.formulaire input{
	width: 55%;
}

.formulaire{
	padding-bottom: 2em;
}

textarea{
	width: 90%;
	height: 20em;
}

.enr{
	margin-top: 3%;
	text-align: center;
	font-family: "Consolas";
	font-size: 1.05em;
	color: #211D1D;
}